{% extends 'base.html.twig' %} 
{% block title %}Panier PauseCafé{% endblock %} 
{% block body %} 

{% for label, messages in app.flashes(['success', 'warning']) %}
		{% for message in messages %}
			<div class="flash-{{ label }}">
				{{ message }}
			</div>
		{% endfor %}
	{% endfor %}

<section class="py-5">
  <div class="container px-4 px-lg-5 mt-5">
    <div
      class="row"
    >
      <div class="col-12">
        <h2 class="text-center">Votre panier d'achats</h2>
        <div class="table-responsive m-4">
          <table class="table table-bordered table-hover">
            <thead>
              <tr>
                <th scope="col">Produit</th>
                <th scope="col">Prix</th>
                <th scope="col">Quantité</th>
                <th scope="col">Total</th>
                <th scope="col">Actions</th>
              </tr>
            </thead>
            <tbody>
              {% for element in data %}
              <tr>
                <td>
                <a
                class="text-decoration-none"
                style="color: #000"
                href="{{ path('products_details', {'slug': element.product.slug }) }}">
                {{ element.product.name }}
                </a>
                </td>
                <td>{{ element.product.price / 100 }} €</td>
                <td>{{ element.quantity }}</td>
                <td>{{ element.quantity * element.product.price / 100 }} €</td>
                <td>
                <a href="{{ path('cart_add.cart', {id: element.product.id}) }}" class="btn btn-dark btn-sm">+</a>
                {# <a href="{{ path('cart_add.cart', {id: element.product.id }) }}" class="btn btn-dark btn-sm">+</a> #}
                <a href="{{ path('cart_remove.cart', {id: element.product.id }) }}" class="btn btn-dark btn-sm">-</a>
                <a href="{{ path('cart_delete.cart', {id: element.product.id }) }}" class="btn btn-dark btn-sm">Supprimer</a>
                </td>
              </tr>
              {% else %}
                <tr>
                    <td colspan="5" class="text-center">Votre panier est vide.</td>
                </tr>    
              {% endfor %}
            </tbody>
            <tfoot>
              <tr>
                <td colspan="3" class="text-end">Total</td>
                <td colspan="2">{{ total / 100 }} €</td>
                <td>
                  <a href="{{ path('cart_empty.cart') }}" class="btn btn-dark">Vider le panier</a>
                </td>
                {# <td>
                <a href="{{ path('orders_add') }}" class="btn" role="button" style="background-color: #fb986c">Valider la commande</a>
                </td> #}
              </tr>
            </tfoot>
          </table>
              <a href="{{ path('products_index.products') }}" class="btn btn-dark">Continuer vos achats</a>
      </div>
            <hr>
            {% if app.user %}
          <h3 class="text-center">Entrez votre adresse de livraison</h3>
           {{ form_start(formOrder, {'action':path('orders_add')}) }}

           {{ form_row(formOrder.lastname) }}
           {{ form_row(formOrder.address) }}
           <div class="row">
           {{ form_row(formOrder.zipcode) }}
           </div>
           <div class="row">
           {{ form_row(formOrder.city) }}
           {# <input class="form-control" list="ns" name="n"
              id="n"
              /> #}
             {# <datalist id="ns">
               <option value=>ville</option>
               <option value=>ville</option>
               <option value=></option>
               <option value=></option>
               <option value=></option>
               <option value=></option>
              </datalist>
           </div> #}
           {{ form_end(formOrder) }}
            {% else %}
            <h4 class="text-center">Connectez-vous pour valider votre commande</h4>
            <a href="{{ path('app_login') }}" class="btn btn-dark">Se connecter</a>
            <p>
              Vous n'avez pas de compte ?
              </br>
              Créez-en un pour passer votre commande.
            </p>
            <a href="{{ path('app_register') }}" class="btn btn-dark">Créer un compte</a>
            {% endif %}
    </div>
  </div>
</section>
{% endblock %}

