{% extends 'base.html.twig' %} {% block title
%}Détails de {{ product.name }}{% endblock %} 
{% block body %}

<!-- Section-->
<section class="py-5">
  <h2>{{ product.name }}</h2>
  <div class="container px-4 px-lg-5 mt-5">
    <div
      class="card mb-3"
      style="max-width: 540px"
    >
      <div class="row g-0">
        <div class="col-md-4">
          <img
            src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg"
            class="img-fluid rounded-start"
            alt="photo du café"
          />
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h3 class="card-title">
              {{ product.name }}
            </h3>
            <p class="card-text">
              {{ product.categories.name }}
            </p>
            <p class="card-text">
              This is a wider card with supporting
              text below as a natural lead-in to
              additional content. This content is
              a little bit longer.
            </p>
            <p class="card-text">
              Prix : {{ product.price }} €
            </p>
            <p class="card-text">
              <small class="text-body-secondary"
                >Last updated 3 mins ago</small
              >
            </p>
            <div
              class="card-footer p-4 pt-0 border-top-0 bg-transparent"
            >
              <div class="text-center">
                <a
                  class="btn btn-outline-dark mt-auto"
                  href="#"
                  >Add to cart</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
