{% extends 'base.html.twig' %} {% block title
%}Détails de {{ product.name }}{% endblock %} 
{% block body %}

<!-- Section-->
<section class="py-5">
  <h2 class="text-center">{{ product.name }}</h2>
  <div class="container px-4 px-lg-5 mt-5">
    <div
      class="card mb-8 mb-lg-0"
      style="max-width: 1200px"
    >
      <div class="row g-0">
        <div class="col-md-4">
          <div id="carouselExampleIndicators" class="carousel slide">
  <div class="carousel-indicators">
  {% for iteration in 1..product.images|length %}
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="{{ iteration - 1 }}" 
    {{ (loop.first) ? 'class="active" aria-current="true"' : ''}}  aria-label="Slide {{ iteration }}"></button>
  {% endfor %}
  </div>
  <div class="carousel-inner">      
  {% for image in product.images %}
            <div class="carousel-item {{ (loop.first) ? 'active' : '' }}">
              <img src="{{ asset('images/products/') ~ image.name }}"
                    class="img-fluid rounded-start"
                    alt="{{ product.name}}">
              </div>
          {% endfor %}
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h3 class="card-title">
              {{ product.name }}
            </h3>
            <p class="card-text">
              {{ product.categories.name }}
            </p>
            <p class="card-text">
              {{ product.description }}
            </p>
            <p class="card-text">
              This is a wider card with supporting
              text below as a natural lead-in to
              additional content. This content is
              a little bit longer.
            </p>
            <p class="card-text">
              Prix : {{ product.price / 100 }} €
            </p>
            <div
              class="card-footer p-4 pt-0 border-top-0 bg-transparent"
            >
            {% if product.stock > 0 %}
              <div class="text-center">
                <a
                  class="btn mt-auto"
                  href="{{ path('cart_add.cart', { id: product.id }) }}"
                  role="button" style="background-color: #fb986c"
                  >Ajouter au panier</a
                >
                {% else %}
                <div class="alert alert-danger" role="alert">
                  Produit en rupture de stock
              </div>
                {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
