{% extends 'base.html.twig' %} {% block title
%}Catégories{% endblock %} {% block body %}
<h2 class="text-center mt-4 mb-5">
  Nos Cafés {{
  category.name }}
</h2>

<section class="py-5">
  <div class="container px-4 px-lg-5 mt-5">
    <div
      class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center"
    >
      {% for product in products.data %}
      <div class="col mb-5">
        <div class="card h-100">
          <!-- Product image-->
          <img
            class="card-img-top"
            src="{{ asset('images/products/mini/300x300-') ~ product.images[0].name }}"
            alt="{{ product.name }}"
          />
          <!-- Product details-->
          <div class="card-body p-4">
            <div class="text-center">
              <!-- Product name-->
              <h3 class="fw-bolder">
                {{ product.name }}
              </h3>
              <!-- Product description-->
              <p>{{ product.description }}</p>
              <!-- Product price-->
              {{ product.price / 100 }} €
            </div>
          </div>
          <!-- Product actions-->
          <div
            class="card-footer p-4 pt-0 border-top-0 bg-transparent"
          >
            <div class="text-center">
              <a
                class="btn mt-auto"
                href="{{ path('products_details', {'slug': product.slug }) }}"
                role="button" style="background-color: #fb986c"
                >View details</a
              >
            </div>
             <div class="text-center"><a class="btn mt-4" 
                  href="{{ path('cart_add.cart', { id: product.id }) }}" 
                  role="button" style="background-color: #fb986c">Ajouter au panier</a></div>
          </div>
        </div>
      </div>
      {% endfor %} 
      {% set path = 'categories_list' %} 
      {% set slug = category.slug %} 
      {% set pages = products.pages %} 
      {% set currentPage = products.page %} 
    </div>
  </div>
      {% include "partials/_pagination.html.twig" %}
</section>
{% endblock %}
