{% extends 'base.html.twig' %}

{% block title %}PauseCafé
{% endblock %}

{% block body %}
	<section class="py-5">
		<div class="container px-4 px-lg-5 mt-5">
			<div class="row">
				<h2 class="mb-4">Merci pour votre commande !</h2>
				<p>Votre commande a été traitée avec succès.</p>
				<p>Vous recevrez un e-mail de confirmation sous peu.</p>

				<p>Si vous avez des questions, n'hésitez pas à nous contacter.</p>

				<div class="col-12">
					<h2 class="text-center">Votre commande
						{{ app.user.firstname }}</h2>
					<div class="table-responsive m-4">
						<table class="table table-bordered table-hover">
							<thead>
								<tr>
									<th scope="col">Numéro</th>
									<th scope="col">Adresse</th>
									<th scope="col">Code Postal</th>
									<th scope="col">Ville</th>
									<th scope="col">Date de commande</th>
									<th scope="col">Produits commandés</th>
									<th scope="col">Total de la commande</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>
										{{ order.id }}
									</td>
									<td>{{ order.address }}</td>
									<td>{{ order.zipcode }}</td>
									<td>{{ order.city }}</td>
									<td>{{ order.createdAt|date('d/m/Y') }}</td>
									<td>
										<ul>
											{% for detail in order.ordersDetails %}
												{% if order.id == order.id %}
													<li>
														{{ detail.name }}
														-
														{{ detail.quantity }}
														x
														{{ detail.price / 100 }}
														€
													{% endif %}
												{% endfor %}
											</ul>
										</td>
									</td>
									<td>
										{{ order.ordertotal / 100 }}
										€
									</td>
								</tr>
							</tbody>
						</table>
						<a href="{{ path('products_index.products') }}" class="btn btn-dark">Continuer vos achats</a>
					</div>

				</div>
			</div>
		</section>

	{% endblock %}
