{% extends 'base.html.twig' %}

{% block title %}Vos commandes PauseCafé{% endblock %}

{% block body %}
<section class="py-5">
  <div class="container px-4 px-lg-5 mt-5">
    <div
      class="row"
    >
      <div class="col-12">
        <h2 class="text-center">Vos commandes {{ app.user.firstname }}</h2>
        <div class="table-responsive m-4">
          <table class="table table-bordered table-hover">
            <thead>
              <tr>
                <th scope="col">Numéro</th>
                <th scope="col">Adresse</th>
                <th scope="col">Code Postal</th>
                <th scope="col">Ville</th>
                <th scope="col">Date de commande</th>
                <th scope="col">Produits commandés - Total de la commande</th>
              </tr>
            </thead>
            <tbody>
              {% for order in orders %}
              <tr>
                <td>
                    {{ order.id }}
                </td>
                <td>{{ order.address }}</td>
                <td>{{ order.zipcode }}</td>
                <td>{{ order.city }}</td>
                <td>{{ order.createdAt|date('d/m/Y') }}</td>
                <td>
                    <ul>
                            {% for detail in order.ordersDetails %}
                        <li>
                            {{ detail.products.name }} - {{ detail.quantity }} x {{ detail.price / 100 }} €
                        </li>
                        <li>
                            {{ detail.total / 100 }} €
                        </li>
                    {% endfor %}
                    </ul>
                </td>
              </tr> 
              {% endfor %}
            </tbody>
          </table>
              <a href="{{ path('products_index.products') }}" class="btn btn-dark">Continuer vos achats</a>
      </div>
    </div>
  </div>
</section>
{% endblock %}
