{% extends 'base.html.twig' %}

{% block title %}Votre commande{% endblock %}

{% block body %}
<section class="py-5">
<h2 class="text-center">Votre commande {{ app.user.firstname }}</h2>
  <div class="container px-4 px-lg-5 mt-5">
  <div class="row">
      <div class="col-lg-4">
        <div class="card mb-4">
          <div class="card-body text-center"
          >
          <h3>Vérifier vos informations</h3>
            <h3 class="my-3">{{ user.firstname }}</h3>
            <p class="text-muted mb-1">{{ user.lastname }}</p>
            <p class="text-muted mb-4">{{ user.address }}</p>
            <p class="text-muted mb-4">{{ user.zipcode }}</p>
            <p class="text-muted mb-4">{{ user.city }}</p>
            <div class="d-flex justify-content-center mb-2">
              <button  type="button" data-mdb-button-init data-mdb-ripple-init class="btn btn-dark">Modifier mes informations</button>
              {# <button  type="button" data-mdb-button-init data-mdb-ripple-init class="btn btn-outline-primary ms-1">Message</button> #}
            </div>
          </div>
        </div>
      </div>
  </div>
  
    <div
      class="row"
    >
      <div class="col-12">
        <h3 class="text-center">Vérifiez votre commande</h3>
        <div class="table-responsive m-4">
          <table class="table table-bordered table-hover">
            <thead>
              <tr>
                <th scope="col">Produit</th>
                <th scope="col">Prix</th>
                <th scope="col">Quantité</th>
                <th scope="col">Total</th>
                {# <th scope="col">Actions</th> #}
              </tr>
            </thead>
            <tbody>
              {% for element in data %}
              <tr>
                <td>
                <a
                class="text-decoration-none"
                style="color: #000"
                href="{{ path('products_details', {'slug': element.product.slug }) }}">
                {{ element.product.name }}
                </a>
                </td>
                <td>{{ element.product.price / 100 }} €</td>
                <td>{{ element.quantity }}</td>
                <td>{{ element.quantity * element.product.price / 100 }} €</td>
                {# <td>
                <a href="{{ path('cart_add.cart', {id: element.product.id}) }}" class="btn btn-dark btn-sm">+</a>
                <a href="{{ path('cart_remove.cart', {id: element.product.id }) }}" class="btn btn-dark btn-sm">-</a>
                <a href="{{ path('cart_delete.cart', {id: element.product.id }) }}" class="btn btn-dark btn-sm">Supprimer</a>
                </td> #}
              </tr>
              {% else %}
                <tr>
                    <td colspan="5" class="text-center">Votre panier est vide.</td>
                </tr>    
              {% endfor %}
            </tbody>
            <tfoot>
              <tr>
                <td colspan="3" class="text-end">Total</td>
                <td colspan="2">{{ total / 100 }} €</td>
                <td>
                <a href="#" class="btn" role="button" style="background-color: #fb986c">Payer la commande</a>
                </td>
                <td>
              <a href="{{ path('products_index.products') }}" class="btn btn-dark">Continuer vos achats</a>
                {# <a href="{{ path('orders_add') }}" class="btn" role="button" style="background-color: #fb986c">Valider la commande</a> #}
                </td>
              </tr>
            </tfoot>
          </table>
      </div>
    </div>
  </div>
</section>
{% endblock %}
